# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
venv/
ENV/
env/

# App Database & Secrets
settings.json
chroma_db/

# IDE and System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
